*.suo
Intermediate/
Saved/
Content/FirstPerson/Textures/Skyboxes/VKExterior/pano_r.uasset
Content/FirstPerson/Textures/
Content/FirstPersonCPP/Blueprints/
Content/
Build/
*.sln
*.sdf
*.uproject
*.opensdf
Config/
Binaries/
AndroidBuild/
WindowsBuild/
Plugins/NewMenu/NewMenu.uplugin
Plugins/NewMenu/Resources/Icon128.png
Plugins/NewMenu/Resources/Thumbs.db
*.TMP
